@media only screen and (max-width: 576px) {
    .navbar {
        display: grid;
        grid-template-columns: 50% 50%;
        height: 80px;
    }

    .navbar .menu {
        display: none;
        position: absolute;
        background-color: var(--biru);
        top: 90px;
        width: 100%;    
    }

    .navbar .menu .navbar-menu .navbar-menu-item {
        display: block;
        margin: 10% 0;
    }

    .navbar .bar {
        display: block;
        text-align: right;
        width: 72%;
    }

    .navbar .bar button {
        background: none;
        border: none;
    }

    .navbar .bar button i {
        color: var(--putih);
    }

    .container #welcome {
        height: 647px;
    }

    .container #welcome .wrapper {
        padding: 30% 10%;
        height: 432px;
    }

    .container #welcome .wrapper .title {
        font-size: 25px;
        width: 100%;
    }

    .container #welcome .wrapper p {
        width: 100%;
    }

    .container #welcome .wrapper .see-service {
        padding: 8% 10%;
        margin: 5% 0;
    }
}